img {
    width: 200px;
    height: 200px;
    
    
}
h1,p {
    text-align: center;
}
#results {
    margin-bottom: 90px;
    
}
.result {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    margin-top: 50px;
}

.btns {
    display: flex;
    justify-content: space-evenly;
    padding:5px;
    margin-top: 40px;
}